<% content_for :for_head do %>
 <meta property="og:image" content="http://www.nicknmaggie.us/<%= asset_path('1046274861_x.jpg') %>"/>
  <meta property="og:image" content="http://www.nicknmaggie.us/<%= asset_path('1049916419_x.jpg') %>"/>
  <meta property="og:image" content="http://www.nicknmaggie.us/<%= asset_path('1049920577_x.jpg') %>"/>  
  <meta property="og:image" content="http://www.nicknmaggie.us/<%= asset_path('1049923568_x.jpg') %>"/>
  <meta property="og:image" content="http://www.nicknmaggie.us/<%= asset_path('1049924980_x.jpg') %>"/>
  <meta property="og:image" content="http://www.nicknmaggie.us/<%= asset_path('1049920586_x.jpg') %>"/>
  <meta property="og:title" content="Welcome to our wedding ceremony | " />
  <meta property="og:url" content="http://www.nicknmaggie.us" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="12/27/2014 | 01/17/2015" />
<% end %>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<!--
<script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>
-->

 <!-- Header
<header>
    <div class="container">	
        <div class="intro-text">
        	<div class="intro-heading">We're getting married</div>
            <div class="intro-lead-in">Welcome To Our wedding ceremony !</div>
            <br><br>
            <div class="intro-lead-in">12.27.2015 TAIPEI</div>
            <div class="intro-lead-in">1.17.2015 TAITUNG</div>          
        </div>
    </div>
</header>
 -->


<%= render 'section_movie' %>
<%= render 'section_profile' %>
<%= render 'section_gallery' %>
<%= render 'section_invite' %>
<%= render 'section_location' %>

<%= render 'section_comment' %>


